body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #2196F3;
  color: white;
  text-align: center;
  padding: 20px;
}

.header h2 {
  margin: 0;
}

.footer{
    background-color: #2196F3;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
}